@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular Weight */
@font-face {
   font-family: 'NeueHaasText';
   src: url('/assets/fonts/neue-haas-grotesk-text-family/NeueHaasGrotText-Regular.otf')
      format('opentype');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Bold Weight */
@font-face {
   font-family: 'NeueHaasText';
   src: url('/assets/fonts/neue-haas-grotesk-text-family/NeueHaasGrotText-Bold.otf')
      format('opentype');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

body {
   font-family:
      'NeueHaasText',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Helvetica,
      Arial,
      sans-serif;
   line-height: 1.6;
}
